
<mat-accordion *ngIf="recievedPosts.length > 0">
    <mat-expansion-panel hideToggle *ngFor="let post of recievedPosts">
        <mat-expansion-panel-header>
            <mat-panel-title>
            {{post.title}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{post.content}}</p>
        <mat-action-row>
            <button mat-button color="primary">Edit</button>
            <button mat-button color="warn">Delete</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>

<mat-card>
    <div class="centerCss" *ngIf="recievedPosts.length <=0">
        No posts present!
    </div>
</mat-card>